[Unit]
Description=run weather forecaster workbook searching system

[Service]
Environment=HOME=/home/takato/
Environment=ROOTDIR=${HOME}/Git/lightning_detector

ExecStart=${ROOTDIR}/src/etc/run_lls_demo.sh
ExecStop=/bin/kill ${MAINPID}
Restart=on-success

[Install]
WantedBy=default.target

