[Unit]
Description=run weather forecaster workbook searching system

[Service]
Environment=HOME=/home/takato
Environment=ROOTDIR=/home/takato/Git/lightning_detector

ExecStart=/home/takato/Git/lightning_detector/src/etc/run_tileserver.sh > /dev/null 2>&1 
ExecStop=/bin/kill ${MAINPID}
Restart=on-success

[Install]
WantedBy=default.target

